manifest {
  author = "Jeff Vierstra"
  mainScript = "main.nf"
  defaultBranch = "master"
  name = "caqtl-pipeline"
  description = "Chromatin QTL calling pipeline"
  version = "0.1"
  nextflowVersion = "22.04.0"
}

//We have CUDA 10.2, so need a special version of pyTorch (see https://pytorch.org/get-started/previous-versions/)
//pip install torch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2
//pip install tensorqtl


// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
	includeConfig './params.config'
}


profiles {
	Altius {
		// Run on SLURM and load the appropriate modules	
		process {
			executor = "slurm"
			queue = "queue0,bigmem,pool,queue2,encode4"
			memory = { 10.GB * task.attempt }

			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'retry' }
			maxRetries = 3

			withLabel: gpu {
				queue = "gpuAll"
				clusterOptions = "--gres=gpu:p100 --nodes=1"
				memory = 64.GB
			}

    }
		
		executor {
			$slurm {
				queueSize = 300
			}
		}
    		
		// Logging
 		// trace.enabled = true
		// trace.file = "pipeline_trace.txt"
		// timeline.enabled = true
		// timeline.file = "pipeline_timeline.html"
		// report.enabled = true
		// report.file = "pipeline_report.html"
  	}
}
