genotype_file = '/net/seq/data2/projects/sabramov/ENCODE4/caqtl-analysis/index.filtered.snps.annotated.vcf.gz'
samples_file = '/home/sabramov/projects/ENCODE4/dnase_metadata+sample_info.0103.tsv'


count_matrix = '/net/seq/data2/projects/sabramov/SuperIndex/dnase-0209/output/signal.filtered.matrix.npy'
index_file = '/net/seq/data2/projects/sabramov/SuperIndex/dnase-0209/output/masterlist.filtered.bed'
indivs_order = "/net/seq/data2/projects/sabramov/SuperIndex/dnase-0209/output/indivs_order.txt"

genome_fasta = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa'
chunksize = 25000000 //be careful not set this too small or the qtl.py script gives a cryptic error
mappable_file = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.mappable_only.bed'
genome_chrom_sizes = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes'
outdir = 'output'